PORT = 3001
FRONTEND_URL = "http://localhost:3000"

DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"

# JWT Configuration
JWT_SECRET="your_jwt_secret_key"
JWT_ALGORITHM="HS256"
ACCESS_TOKEN_MAX_AGE=3600000 # 1 hour in milliseconds
REFRESH_TOKEN_MAX_AGE=604800000 # 7 days in milliseconds

# AWS S3 Configuration
AWS_REGION = "your_aws_region"
AWS_ACCESS_KEY_ID = "your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY = "your_aws_secret_access_key"
AWS_S3_BUCKET = "your_aws_s3_bucket_name"